@import url("./lightSabersColors.css");
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0; }

body {
  background-color: #222831;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh; }

#root {
  height: 100%;
  width: 100%; }
  #root .wrapper {
    height: 100%;
    width: 100%; }
    #root .wrapper .banner {
      display: flex;
      justify-content: center;
      align-items: center; }
      #root .wrapper .banner img {
        height: 250px; }
    #root .wrapper .search {
      animation: boxLightSaberYellow 2s linear infinite;
      border-radius: 5px;
      width: 500px;
      margin: 20px auto;
      position: relative; }
      #root .wrapper .search .input-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        width: 100%;
        height: 50px;
        border-radius: 5px;
        padding: 5px; }
        #root .wrapper .search .input-wrapper input {
          background-color: transparent;
          width: 95%;
          height: 100%;
          color: #222831;
          font-size: 20px; }
          #root .wrapper .search .input-wrapper input::placeholder {
            color: #393e46; }
        #root .wrapper .search .input-wrapper input.typing {
          border-bottom: 1px solid #ffd369; }
      #root .wrapper .search .inpTyping {
        border-radius: 5px 5px 0 0; }
      #root .wrapper .search .search-result {
        scrollbar-width: none;
        position: relative;
        left: 0;
        width: 100%;
        border-radius: 0 0 5px 5px;
        background-color: #eee;
        max-height: 300px;
        overflow: auto; }
        #root .wrapper .search .search-result::-webkit-scrollbar {
          width: 0px !important; }
      #root .wrapper .search .search-result .search-result-item {
        cursor: pointer;
        padding: 10px 15px; }
        #root .wrapper .search .search-result .search-result-item:hover {
          transition: all 0.3s ease;
          background-color: #ffd2698e; }
      #root .wrapper .search .result-not-found {
        padding: 25px;
        text-emphasis: center;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.582); }
      #root .wrapper .search #current {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
        position: relative;
        left: 0;
        width: 100%;
        border-radius: 0 0 5px 5px;
        background-color: #eee;
        height: 80px; }
        #root .wrapper .search #current table {
          width: 100%; }
          #root .wrapper .search #current table tbody tr {
            display: flex;
            justify-content: center;
            align-items: center; }
            #root .wrapper .search #current table tbody tr td {
              color: #393e46;
              text-transform: uppercase;
              flex: 1 1;
              text-align: center;
              border-left: 1px solid #393e4691; }
              #root .wrapper .search #current table tbody tr td:first-child {
                text-align: start;
                flex: 1.5 1;
                border: 0; }

/*# sourceMappingURL=index.css.map */
