// ==== Drop - Shadow ==== //
@keyframes dropLightSaberPurple {
    0% {
        filter: drop-shadow(0 0 0.4rem #c239d7);
    }

    10% {
        filter: drop-shadow(0 0 0.5rem #c239d7);
    }

    20% {
        filter: drop-shadow(0 0 0.8rem #c239d7);
    }

    30% {
        filter: drop-shadow(0 0 1rem #c239d7);
    }

    40% {
        filter: drop-shadow(0 0 0.9rem #c239d7);
    }

    50% {
        filter: drop-shadow(0 0 0.7rem #c239d7);
    }

    60% {
        filter: drop-shadow(0 0 0.8rem #c239d7);
    }

    70% {
        filter: drop-shadow(0 0 0.9rem #c239d7);
    }

    80% {
        filter: drop-shadow(0 0 0.7rem #c239d7);
    }

    90% {
        filter: drop-shadow(0 0 0.4rem #c239d7);
    }

    100% {
        filter: drop-shadow(0 0 0.6rem #c239d7);
    }
}

//Red

@keyframes dropLightSaberRed {
    0% {
        filter: drop-shadow(0 0 1.5rem #d71d23);
    }

    10% {
        filter: drop-shadow(0 0 1.1rem #d71d23);
    }

    20% {
        filter: drop-shadow(0 0 0.8rem #d71d23);
    }

    30% {
        filter: drop-shadow(0 0 0.5rem #d71d23);
    }

    40% {
        filter: drop-shadow(0 0 0.9rem #d71d23);
    }

    50% {
        filter: drop-shadow(0 0 1rem #d71d23);
    }

    60% {
        filter: drop-shadow(0 0 0.7rem #d71d23);
    }

    70% {
        filter: drop-shadow(0 0 0.6rem #d71d23);
    }

    80% {
        filter: drop-shadow(0 0 1.1rem #d71d23);
    }

    90% {
        filter: drop-shadow(0 0 0.8rem #d71d23);
    }

    100% {
        filter: drop-shadow(0 0 1.3rem #d71d23);
    }
}

//LightBlue

@keyframes dropLightSaberLightBlue {
    0% {
        filter: drop-shadow(0 0 1rem #09ecd1);
    }

    10% {
        filter: drop-shadow(0 0 0.9rem #09ecd1);
    }

    20% {
        filter: drop-shadow(0 0 0.7rem #09ecd1);
    }

    30% {
        filter: drop-shadow(0 0 0.4rem #09ecd1);
    }

    40% {
        filter: drop-shadow(0 0 0.5rem #09ecd1);
    }

    50% {
        filter: drop-shadow(0 0 0.8rem #09ecd1);
    }

    60% {
        filter: drop-shadow(0 0 0.6rem #09ecd1);
    }

    70% {
        filter: drop-shadow(0 0 0.7rem #09ecd1);
    }

    80% {
        filter: drop-shadow(0 0 0.6rem #09ecd1);
    }

    90% {
        filter: drop-shadow(0 0 0.5rem #09ecd1);
    }

    100% {
        filter: drop-shadow(0 0 0.8rem #09ecd1);
    }
}

//Blue
@keyframes dropLightSaberBlue {
    0% {
        filter: drop-shadow(0 0 1rem#0AA2EB);
    }

    10% {
        filter: drop-shadow(0 0 0.9rem#0AA2EB);
    }

    20% {
        filter: drop-shadow(0 0 0.7rem#0AA2EB);
    }

    30% {
        filter: drop-shadow(0 0 0.4rem#0AA2EB);
    }

    40% {
        filter: drop-shadow(0 0 0.5rem#0AA2EB);
    }

    50% {
        filter: drop-shadow(0 0 0.8rem#0AA2EB);
    }

    60% {
        filter: drop-shadow(0 0 0.6rem#0AA2EB);
    }

    70% {
        filter: drop-shadow(0 0 0.7rem#0AA2EB);
    }

    80% {
        filter: drop-shadow(0 0 0.6rem#0AA2EB);
    }

    90% {
        filter: drop-shadow(0 0 0.5rem#0AA2EB);
    }

    100% {
        filter: drop-shadow(0 0 0.8rem#0AA2EB);
    }
}

//Green
@keyframes dropLightSaberGreen {
    0% {
        filter: drop-shadow(0 0 1rem#7BFE86);
    }

    10% {
        filter: drop-shadow(0 0 0.9rem#7BFE86);
    }

    20% {
        filter: drop-shadow(0 0 0.7rem#7BFE86);
    }

    30% {
        filter: drop-shadow(0 0 0.4rem#7BFE86);
    }

    40% {
        filter: drop-shadow(0 0 0.5rem#7BFE86);
    }

    50% {
        filter: drop-shadow(0 0 0.8rem#7BFE86);
    }

    60% {
        filter: drop-shadow(0 0 0.6rem#7BFE86);
    }

    70% {
        filter: drop-shadow(0 0 0.7rem#7BFE86);
    }

    80% {
        filter: drop-shadow(0 0 0.6rem#7BFE86);
    }

    90% {
        filter: drop-shadow(0 0 0.5rem#7BFE86);
    }

    100% {
        filter: drop-shadow(0 0 0.8rem#7BFE86);
    }
}

//Orange
@keyframes dropLightSaberOrange {
    0% {
        filter: drop-shadow(0 0 1rem#E99002);
    }

    10% {
        filter: drop-shadow(0 0 0.9rem#E99002);
    }

    20% {
        filter: drop-shadow(0 0 0.7rem#E99002);
    }

    30% {
        filter: drop-shadow(0 0 0.4rem#E99002);
    }

    40% {
        filter: drop-shadow(0 0 0.5rem#E99002);
    }

    50% {
        filter: drop-shadow(0 0 0.8rem#E99002);
    }

    60% {
        filter: drop-shadow(0 0 0.6rem#E99002);
    }

    70% {
        filter: drop-shadow(0 0 0.7rem#E99002);
    }

    80% {
        filter: drop-shadow(0 0 0.6rem#E99002);
    }

    90% {
        filter: drop-shadow(0 0 0.5rem#E99002);
    }

    100% {
        filter: drop-shadow(0 0 0.8rem#E99002);
    }
}

//Yellow
@keyframes dropLightSaberYellow {
    0% {
        filter: drop-shadow(0 0 1rem#DEC235);
    }

    10% {
        filter: drop-shadow(0 0 0.9rem#DEC235);
    }

    20% {
        filter: drop-shadow(0 0 0.7rem#DEC235);
    }

    30% {
        filter: drop-shadow(0 0 0.4rem#DEC235);
    }

    40% {
        filter: drop-shadow(0 0 0.5rem#DEC235);
    }

    50% {
        filter: drop-shadow(0 0 0.8rem#DEC235);
    }

    60% {
        filter: drop-shadow(0 0 0.6rem#DEC235);
    }

    70% {
        filter: drop-shadow(0 0 0.7rem#DEC235);
    }

    80% {
        filter: drop-shadow(0 0 0.6rem#DEC235);
    }

    90% {
        filter: drop-shadow(0 0 0.5rem#DEC235);
    }

    100% {
        filter: drop-shadow(0 0 0.8rem#DEC235);
    }
}

//White
@keyframes dropLightSaberWhite {
    0% {
        filter: drop-shadow(0 0 1rem#494A53);
    }

    10% {
        filter: drop-shadow(0 0 0.9rem#494A53);
    }

    20% {
        filter: drop-shadow(0 0 0.7rem#494A53);
    }

    30% {
        filter: drop-shadow(0 0 0.4rem#494A53);
    }

    40% {
        filter: drop-shadow(0 0 0.5rem#494A53);
    }

    50% {
        filter: drop-shadow(0 0 0.8rem#494A53);
    }

    60% {
        filter: drop-shadow(0 0 0.6rem#494A53);
    }

    70% {
        filter: drop-shadow(0 0 0.7rem#494A53);
    }

    80% {
        filter: drop-shadow(0 0 0.6rem#494A53);
    }

    90% {
        filter: drop-shadow(0 0 0.5rem#494A53);
    }

    100% {
        filter: drop-shadow(0 0 0.8rem#494A53);
    }
}

// ===================== Box - Shadow ===================== //

// Puprle
@keyframes boxLightSaberPurple {
    0% {
        box-shadow: (0 0 1rem #c239d7);
    }

    10% {
        box-shadow: (0 0 0.9rem #c239d7);
    }

    20% {
        box-shadow: (0 0 0.7rem #c239d7);
    }

    30% {
        box-shadow: (0 0 0.4rem #c239d7);
    }

    40% {
        box-shadow: (0 0 0.5rem #c239d7);
    }

    50% {
        box-shadow: (0 0 0.8rem #c239d7);
    }

    60% {
        box-shadow: (0 0 0.6rem #c239d7);
    }

    70% {
        box-shadow: (0 0 0.7rem #c239d7);
    }

    80% {
        box-shadow: (0 0 0.6rem #c239d7);
    }

    90% {
        box-shadow: (0 0 0.5rem #c239d7);
    }

    100% {
        box-shadow: (0 0 0.8rem #c239d7);
    }
}

//Red

@keyframes boxLightSaberRed {
    0% {
        box-shadow: (0 0 1rem #d71d23);
    }

    10% {
        box-shadow: (0 0 0.9rem #d71d23);
    }

    20% {
        box-shadow: (0 0 0.7rem #d71d23);
    }

    30% {
        box-shadow: (0 0 0.4rem #d71d23);
    }

    40% {
        box-shadow: (0 0 0.5rem #d71d23);
    }

    50% {
        box-shadow: (0 0 0.8rem #d71d23);
    }

    60% {
        box-shadow: (0 0 0.6rem #d71d23);
    }

    70% {
        box-shadow: (0 0 0.7rem #d71d23);
    }

    80% {
        box-shadow: (0 0 0.6rem #d71d23);
    }

    90% {
        box-shadow: (0 0 0.5rem #d71d23);
    }

    100% {
        box-shadow: (0 0 0.8rem #d71d23);
    }
}

//LightBlue

@keyframes boxLightSaberLightBlue {
    0% {
        box-shadow: (0 0 1rem #09ecd1);
    }

    10% {
        box-shadow: (0 0 0.9rem #09ecd1);
    }

    20% {
        box-shadow: (0 0 0.7rem #09ecd1);
    }

    30% {
        box-shadow: (0 0 0.4rem #09ecd1);
    }

    40% {
        box-shadow: (0 0 0.5rem #09ecd1);
    }

    50% {
        box-shadow: (0 0 0.8rem #09ecd1);
    }

    60% {
        box-shadow: (0 0 0.6rem #09ecd1);
    }

    70% {
        box-shadow: (0 0 0.7rem #09ecd1);
    }

    80% {
        box-shadow: (0 0 0.6rem #09ecd1);
    }

    90% {
        box-shadow: (0 0 0.5rem #09ecd1);
    }

    100% {
        box-shadow: (0 0 0.8rem #09ecd1);
    }
}

//Blue
@keyframes boxLightSaberBlue {
    0% {
        box-shadow: (0 0 1rem#0AA2EB);
    }

    10% {
        box-shadow: (0 0 0.9rem#0AA2EB);
    }

    20% {
        box-shadow: (0 0 0.7rem#0AA2EB);
    }

    30% {
        box-shadow: (0 0 0.4rem#0AA2EB);
    }

    40% {
        box-shadow: (0 0 0.5rem#0AA2EB);
    }

    50% {
        box-shadow: (0 0 0.8rem#0AA2EB);
    }

    60% {
        box-shadow: (0 0 0.6rem#0AA2EB);
    }

    70% {
        box-shadow: (0 0 0.7rem#0AA2EB);
    }

    80% {
        box-shadow: (0 0 0.6rem#0AA2EB);
    }

    90% {
        box-shadow: (0 0 0.5rem#0AA2EB);
    }

    100% {
        box-shadow: (0 0 0.8rem#0AA2EB);
    }
}

//Green
@keyframes boxLightSaberGreen {
    0% {
        box-shadow: (0 0 1rem#7BFE86);
    }

    10% {
        box-shadow: (0 0 0.9rem#7BFE86);
    }

    20% {
        box-shadow: (0 0 0.7rem#7BFE86);
    }

    30% {
        box-shadow: (0 0 0.4rem#7BFE86);
    }

    40% {
        box-shadow: (0 0 0.5rem#7BFE86);
    }

    50% {
        box-shadow: (0 0 0.8rem#7BFE86);
    }

    60% {
        box-shadow: (0 0 0.6rem#7BFE86);
    }

    70% {
        box-shadow: (0 0 0.7rem#7BFE86);
    }

    80% {
        box-shadow: (0 0 0.6rem#7BFE86);
    }

    90% {
        box-shadow: (0 0 0.5rem#7BFE86);
    }

    100% {
        box-shadow: (0 0 0.8rem#7BFE86);
    }
}

//Orange
@keyframes boxLightSaberOrange {
    0% {
        box-shadow: (0 0 1rem#E99002);
    }

    10% {
        box-shadow: (0 0 0.9rem#E99002);
    }

    20% {
        box-shadow: (0 0 0.7rem#E99002);
    }

    30% {
        box-shadow: (0 0 0.4rem#E99002);
    }

    40% {
        box-shadow: (0 0 0.5rem#E99002);
    }

    50% {
        box-shadow: (0 0 0.8rem#E99002);
    }

    60% {
        box-shadow: (0 0 0.6rem#E99002);
    }

    70% {
        box-shadow: (0 0 0.7rem#E99002);
    }

    80% {
        box-shadow: (0 0 0.6rem#E99002);
    }

    90% {
        box-shadow: (0 0 0.5rem#E99002);
    }

    100% {
        box-shadow: (0 0 0.8rem#E99002);
    }
}

//Yellow
@keyframes boxLightSaberYellow {
    0% {
        box-shadow: (0 0 1rem#DEC235);
    }

    10% {
        box-shadow: (0 0 0.9rem#DEC235);
    }

    20% {
        box-shadow: (0 0 0.7rem#DEC235);
    }

    30% {
        box-shadow: (0 0 0.4rem#DEC235);
    }

    40% {
        box-shadow: (0 0 0.5rem#DEC235);
    }

    50% {
        box-shadow: (0 0 0.8rem#DEC235);
    }

    60% {
        box-shadow: (0 0 0.6rem#DEC235);
    }

    70% {
        box-shadow: (0 0 0.7rem#DEC235);
    }

    80% {
        box-shadow: (0 0 0.6rem#DEC235);
    }

    90% {
        box-shadow: (0 0 0.5rem#DEC235);
    }

    100% {
        box-shadow: (0 0 0.8rem#DEC235);
    }
}

//White
@keyframes boxLightSaberWhite {
    0% {
        box-shadow: (0 0 1rem#494A53);
    }

    10% {
        box-shadow: (0 0 0.9rem#494A53);
    }

    20% {
        box-shadow: (0 0 0.7rem#494A53);
    }

    30% {
        box-shadow: (0 0 0.4rem#494A53);
    }

    40% {
        box-shadow: (0 0 0.5rem#494A53);
    }

    50% {
        box-shadow: (0 0 0.8rem#494A53);
    }

    60% {
        box-shadow: (0 0 0.6rem#494A53);
    }

    70% {
        box-shadow: (0 0 0.7rem#494A53);
    }

    80% {
        box-shadow: (0 0 0.6rem#494A53);
    }

    90% {
        box-shadow: (0 0 0.5rem#494A53);
    }

    100% {
        box-shadow: (0 0 0.8rem#494A53);
    }
}
